<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <style>
        .jazzcash-button{
            background-color: rgb(213, 6, 6);
            color: white;
            padding: 15px;
            font-size: 20px;
            border: none;
            font-family: sans-serif;
            text-decoration: none;
        }
    </style>
</head>
<body>
    <h1>JazzCash Payment</h1>
    <h1>{{product_name}}</h1>
    <h1>{{product_price}}</h1>
    <form method="post" action="https://sandbox.jazzcash.com.pk/CustomerPortal/transactionmanagement/merchantform/">
        {% for key,value in post_data.items %} 

            <input type="hidden", name="{{key}}" value="{{value}}">

        {% endfor %}
        <button type="submit" class="jazzcash-button"> Pay with Jazzcash</button>

    </form>
    <script>
        function submitForm(){
            document.forms[0].submit()
        }

    </script>
</body>
</html>